<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script type="text/javascript" th:src="@{/script/script.js}"></script>

    <link href="../static/css/ryrwars.css"
          th:href="@{/css/ryrwars.css}" rel="stylesheet" media="screen"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="ryr-header__container" th:fragment="header">
    <div class="ryr-header__content">
        <div id="burguer" class="ryr-header__burguer">H</div>
        <div class="ryr-header__logo1 ry-header__logo "></div>
        <div class="ryr-header__logo2"></div>
        <div class="ryr-header__logo3 ry-header__logo "></div>
    </div>
    <!-- <div th:fragment="header"> -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/players}">Leaderboard</a></li>
                        <li><a href="#" th:href="@{/player/new}">Admin</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    <!-- </div> -->
</div>
</body>
</html>
