<!DOCTYPE html>
<html xmlns:href="http://www.w3.org/1999/xhtml">
<head lang="en">
    <title>Ryanair Wars</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="app">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <!-- <div class="app"> -->
    <div class="ryr-home__container">
        <div class="row ryr-home__row">
            <div class="box">
                <div class="box__header">
                    <img class="box__logo" src="../images/ryr_zealot.png" alt="">
                    <h1 class="box__title">Zealot</h1>
                </div>
                <p class="box__description">Are you ready to publish relevant content for Ryanair blog?, this gadge is assigned to those
                    who create content as a post (15 coins), a video tutorial (20 coins), share a link to an article
                    (5 coins), write a review of an article (5 coins) or tue publication reach 100 followers.</br>
                    </br>
                    Instructions: write a mail to <a href:"mailto:ryrwars@ryanair.com">ryrwars@ryanair.com</a> including the post content, link o review.
                </p>
            </div>
            <div class="box">
                <div class="box__header">
                    <img class="box__logo" src="../images/ryr_tyro.png" alt="">
                    <h1 class="box__title">Tyro</h1>
                </div>
                <p class="box__description">Are you ready to publish relevant content for Ryanair blog?, this gadge is assigned to those
                    who create content as a post (15 coins), a video tutorial (20 coins), share a link to an article
                    (5 coins), write a review of an article (5 coins) or tue publication reach 100 followers.</br>
                    </br>
                    Instructions: write a mail to <a href:"mailto:ryrwars@ryanair.com">ryrwars@ryanair.com</a> including the post content, link o review.
                </p>
            </div>
            <div class="box">
                <div class="box__header">
                    <img class="box__logo" src="../images/ryr_truth_devourer.png" alt="">
                    <h1 class="box__title">Truth Devourer</h1>
                </div>
                <p class="box__description">Are you ready to publish relevant content for Ryanair blog?, this gadge is assigned to those
                    who create content as a post (15 coins), a video tutorial (20 coins), share a link to an article
                    (5 coins), write a review of an article (5 coins) or tue publication reach 100 followers.</br>
                    </br>
                    Instructions: write a mail to <a href:"mailto:ryrwars@ryanair.com">ryrwars@ryanair.com</a> including the post content, link o review.
                </p>
            </div>
        </div>
        <div class="row ryr-home__row">
            <div class="box">
                <div class="box__header">
                    <img class="box__logo" src="../images/ryr_guild_guard.png" alt="">
                    <h1 class="box__title">Guild Guard</h1>
                </div>
                <p class="box__description">Are you ready to publish relevant content for Ryanair blog?, this gadge is assigned to those
                    who create content as a post (15 coins), a video tutorial (20 coins), share a link to an article
                    (5 coins), write a review of an article (5 coins) or tue publication reach 100 followers.</br>
                    </br>
                    Instructions: write a mail to <a href:"mailto:ryrwars@ryanair.com">ryrwars@ryanair.com</a> including the post content, link o review.
                </p>
            </div>
            <div class="box">
                <div class="box__header">
                    <img class="box__logo" src="../images/ryr_space_companion.png" alt="">
                    <h1 class="box__title">Space Companion</h1>
                </div>
                <p class="box__description">Are you ready to publish relevant content for Ryanair blog?, this gadge is assigned to those
                    who create content as a post (15 coins), a video tutorial (20 coins), share a link to an article
                    (5 coins), write a review of an article (5 coins) or tue publication reach 100 followers.</br>
                    </br>
                    Instructions: write a mail to <a href:"mailto:ryrwars@ryanair.com">ryrwars@ryanair.com</a> including the post content, link o review.
                </p>
            </div>
            <div class="box">
                <div class="box__header">
                    <img class="box__logo" src="../images/ryr_tribal_leader.png" alt="">
                    <h1 class="box__title">Tribal Leader</h1>
                </div>
                <p class="box__description">Are you ready to publish relevant content for Ryanair blog?, this gadge is assigned to those
                    who create content as a post (15 coins), a video tutorial (20 coins), share a link to an article
                    (5 coins), write a review of an article (5 coins) or tue publication reach 100 followers.</br>
                    </br>
                    Instructions: write a mail to <a href:"mailto:ryrwars@ryanair.com">ryrwars@ryanair.com</a> including the post content, link o review.
                </p>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
</body>
</html>