<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Ryanair Wars Player Info</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container-fluid">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div>
        <h2>My Profile</h2>
        <img width="50" height="50" th:src="'../images/' + ${player.photoFile}"/>
        Player: <span th:text="${player.name} + ' ' + ${player.surname}"/><br>
        Balance: <span th:text="${player.coins}"/><br>
        Zealot: <span th:text="${player.zealot}"/><br>
        Tyro: <span th:text="${player.tyro}"/><br>
        Truth Devourer: <span th:text="${player.truthDevourer}"/><br>
        Guild Guard: <span th:text="${player.guildGuard}"/><br>
        Space Companion: <span th:text="${player.spaceCompanion}"/><br>
        Tribal Leader: <span th:text="${player.tribalLeader}"/>
    </div>
</div>

<div class="container">
  <img src="../images/bg_soldier.png" alt="">
  <div class="row row-top">
    <div class="box"><img th:if="${player.zealot}" th:src="../images/ryr_zealot.png"/></div>
    <div class="box" hidden></div>
    <div class="box"><img th:if="${player.tyro}" th:src="../images/ryr_tyro.png"/></div>
    <div class="box" hidden></div>
    <div class="box"><img th:if="${player.truthDevourer}" th:src="../images/ryr_truth_devourer.png"/></div>
  </div>
  <div class="row row-bottom">
    <div class="box"><img th:if="${player.guildGuard}" th:src="../images/ryr_guild_guard.png"/></div>
    <div class="box" hidden></div>
    <div class="box"><img th:if="${player.spaceCompanion}" th:src="../images/ryr_space_companion.png"/></div>
    <div class="box" hidden></div>
    <div class="box"><img th:if="${player.tribalLeader}" th:src="../images/ryr_tribal_leader.png"/></div>
  </div>
  </div>
</div>

</body>
</html>
